.o{
    margin-top: 6px;
}
.b{
    margin-top: 20px;
    width: 350px;
    height: 430px;
    border: 1px  solid rgb(204,202,202);
    border-radius: 10px;
}
h1{
    font-size: 25px;
    margin-left: -215px;
    font-family:Arial,sans-serif;
}
.l{
    font-size: 13px;
    margin-left: -105px;
    font-weight: 600;
    color: rgb(61,60,60);
    font-family:Arial,sans-serif;
}
.l1{
    margin-left: 1px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(61,60,60);
    font-family:Arial,sans-serif;
}
input[type = "text"]:focus{
    border: 3px solid rgb(250,179,43);
}
.btn{

    background-color: #f2c962;
    border: 1.5px solid grey;
    width: 300px;
    height: 30px;
    padding: 6px 92px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 0.50px;
    cursor: pointer;
    border-radius: 3px;

}
.t{
    margin-top: 5px;
    width: 290px;
    height: 20px;
}
.b2{
    color:rgba(0, 37, 169, 0.785);
    font-weight: 100;
    text-decoration:none;
}
p{   
    font-family:Arial,sans-serif;
    text-align: left;
    margin-left: 27px;
    font: weight 1px;
    font-size: 12.5px;
}
.i1{
    color : rgba(0, 37, 169, 0.785);
    font-family:Arial,sans-serif;
    font-weight: 100;
    text-decoration: none;
}
.c{
    font-size: 13px;
    font-family:Arial,sans-serif;
    margin-left: 25px;
    text-align: left;
}
a{
    color: black;
    transition: all 0.4s;
    font-family:Arial,sans-serif;
    text-decoration: none;
}
.a:hover{
    color: blue;
}
.popw{
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
}
.popc{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -250px;
    transform: translate(50px,50px);
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    width: 400px;
}
.popw:hover .popc{
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(o,-20px);
    transition: all o.5s cubic-bezier(0.75,-0.02,0.2,0.97);   
}
.popc::before{
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% -10px);
    top: -10px;
    transform: rotate(360deg);
    border-style: solid;
    border-color: transparent transparent rgb(197,196,196) transparent;
    transition-duration: 0.3;
    transition-property: transform;
    border-width: 0 10px 10px 10px;
}
.btn1{
    width: 300px;
    height: 30px;
}
.b1{
    margin-left: 100px;
}
.msg{
    margin-left: -4px;
}
.p1{
    font-family:Arial,sans-serif;
    margin-left: -2px;
    text-align: center;
}
.a1{
    color : rgba(0, 37, 169, 0.785);
    font-size: 13px;
    font-family:Arial,sans-serif;
}
.bod{
    height:300px;
    background-color: rgb(248, 247, 247);
}
.d2{
    color : rgba(0, 37, 169, 0.785);
}
.img{
    margin-top: -200px;
}
.box{
    margin-top: 10px;
}